/***************
 * BASE STYLES *
 ***************/

body {
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e5eff8), to(white));
  background-image: -webkit-linear-gradient(top, #e5eff8, white);
  background-image: -moz-linear-gradient(top, #e5eff8, white);
  background-image: -ms-linear-gradient(top, #e5eff8, white);
  background-image: -o-linear-gradient(top, #e5eff8, white);
  background-image: linear-gradient(top, #e5eff8, white);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#e5eff8', endColorstr='white');
}

html, body, form, fieldset {
  line-height: 1.5;
}

#header {
  background: transparent;
  filter: none;
}

#header #header-top {
  margin: 0;
}

#header #header-top #user-status {
  margin: 0 61px 0 0;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
}

h2 {
  font-size: 16px;
}

h2 span,
h2 a {
  font-size: inherit;
  line-height: inherit;
}

.ie7 h2 span,
.ie7 h2 a {
  font-size: 16px;
  line-height: 1.2;
}

p.intro {
  font-size: 15px;
  margin-bottom: 20px;
}

.main-content img {
  max-width: 100%;
  height: auto !important;
}

.big-action-button { font-size: 16px !important; line-height: 16px !important; color: white; display: inline-block !important; background-color: #fa3219; background-image: -webkit-gradient(linear, left top, left bottom, from(#f76700), to(#fa3219)); background-image: -webkit-linear-gradient(top, #f76700, #fa3219); background-image: -moz-linear-gradient(top, #f76700, #fa3219); background-image: -ms-linear-gradient(top, #f76700, #fa3219); background-image: -o-linear-gradient(top, #f76700, #fa3219); background-image: linear-gradient(top, #f76700, #fa3219); filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f76700', endColorstr='#fa3219'); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); background-color: #f76700; border: 1px solid #c53421; border-radius: 7px; -webkit-border-radius: 7px; -moz-border-radius: 7px; padding: 10px 10px; margin-bottom: 7px; text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5); -webkit-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3), inset -1px 1px 1px rgba(255, 255, 255, 0.75); -moz-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3), inset -1px 1px 1px rgba(255, 255, 255, 0.75); box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.3), inset -1px 1px 1px rgba(255, 255, 255, 0.75); -moz-transition: all 400ms ease; -webkit-transition: all 400ms ease; -o-transition: all 400ms ease; transition: all 400ms ease; }
.big-action-button:hover { border-color: #832316; -webkit-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.8); -moz-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.8); box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.8); }
.big-action-button:active { -webkit-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.5), inset -1px 1px 1px rgba(0, 0, 0, 0.2); -moz-box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.5), inset -1px 1px 1px rgba(0, 0, 0, 0.2); box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.5), inset -1px 1px 1px rgba(0, 0, 0, 0.2); color: #f2f2f2; -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; -moz-transform: scale(0.99); -webkit-transform: scale(0.99); transform: scale(0.99); }
.big-action-button.small { font-size: 15px !important; padding: 8px 10px; }
.big-action-button.grey { background-color: #737373; background-image: -webkit-gradient(linear, left top, left bottom, from(#929292), to(#737373)); background-image: -webkit-linear-gradient(top, #929292, #737373); background-image: -moz-linear-gradient(top, #929292, #737373); background-image: -ms-linear-gradient(top, #929292, #737373); background-image: -o-linear-gradient(top, #929292, #737373); background-image: linear-gradient(top, #929292, #737373); filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#929292', endColorstr='#737373'); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); background-color: #929292; border: 1px solid #555555; }
.big-action-button.grey:hover { border-color: #2f2f2f; }
.big-action-button.light-grey { background-color: #e6e6e6; background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #f9f9f9, #e6e6e6); background-image: -moz-linear-gradient(top, #f9f9f9, #e6e6e6); background-image: -ms-linear-gradient(top, #f9f9f9, #e6e6e6); background-image: -o-linear-gradient(top, #f9f9f9, #e6e6e6); background-image: linear-gradient(top, #f9f9f9, #e6e6e6); filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#f9f9f9', endColorstr='#e6e6e6'); filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); background-color: #f9f9f9; border: 1px solid #ababab; color: #333333; text-shadow: 0px 1px 0px white; }
.big-action-button.light-grey:hover { border-color: #858585; }
.big-action-button.light-grey:active { color: #262626; }

/*****************
 * LAYOUT STYLES *
 *****************/

.page.start {
  background: url(/images/ladder.png) no-repeat center 180px;
  position: relative;
}

.page.start:after {
  content: '';
  position: absolute;
  left: -315px;
  top: 460px;
  width: 100%;
  height: 500px;
  z-index: -1;
  background: url(/images/ladder-piece.png) repeat-y 50% top;
}

.ie8 .page.start:after {
  background: none;
}

.container {
  margin: 0 auto 20px;
  width: 850px;
}

.main-body {
  background-color: #FFF;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
  padding: 20px 17px 20px 20px;
  overflow: hidden;
}

.main-content {
  width: 535px;
  float: left;
}

.sidebar {
  width: 240px;
  float: right;
}

.topic-boxes {
  overflow: hidden;
  margin: 0 auto;
  width: 843px;
}

.topic-boxes p {
  color: #666;
}

.topic-boxes > li {
  border: solid;
  border-width: 0 1px 1px 0;
  padding: 10px 15px 20px 80px;
  margin: 0 -1px -1px 0;
  float: left;
  width: 186px;
  height: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.outbound-boxes {
  overflow: hidden;
  margin-top: 30px;
}

.outbound-boxes-linear {
  margin-top: 0;
}

.outbound-boxes > li {
  padding: 15px 15px 0 100px;
  float: left;
  width: 155px;
  height: 160px;
  margin-left: 18px;
}

.outbound-boxes > li:first-child {
  margin-left: 0;
}

.outbound-boxes-linear > li {
  float: none;
  border-top: 1px solid;
  padding: 20px 0 25px 5px;
  margin-left: 0;
  width: auto;
  height: auto;
}

.outbound-boxes-linear > li:first-child {
  border-top: none;
  padding-top: 0;
}

.assistlyLink {
  font-size: 11px;
  padding-top: 60px;
}

.assistlyLink a,
.assistlyLink a:hover {
  color: #999;
}

.assistlyLink span {
  float: right;
}

.footer-wrapper {
  background-color: #888;
  padding-bottom: 24px;
}

#footer {
  padding: 30px 0 30px 65px;
}

#footer p {
  text-align: left;
}
.introduction {
  height: 84px;
  margin-bottom: 20px;
  text-align: center;
}

.introduction p {
  font-size: 15px;
  line-height: 1.3;
}

.introduction-short {
  margin-bottom: 10px;
}

.highlight {
  background-color: #FFFB93;
  color: #333;
}

/*--- Welcome on index ---*/

.welcome {
  padding: 40px 30px 80px 275px;
  position: relative;
}

/*--- Known Issues ---*/

.known-issues {
  color: #F60;
  font-size: 16px;
}

.known-issues li {
  padding: 3px 0 3px 30px;
  position: relative;
}

.known-issues li:before {
   content:"";
   position: absolute;
   left: 0;
   top: 0;
   width:26px;
   height:26px;
   background: url(/images/faq_sprite.png) no-repeat -13px -71px;
}

/*--- SEARCH ---*/

.search {
  padding-bottom: 30px;
}

.search input[type="text"] {
  width: 100%;
  height: 41px;
  font-size: 16px;
  cursor: text;
  padding: 4px 30px 4px 10px;
  background: url(/images/horizontal_repeat_better.png) 0px -37px repeat-x;
  background: url(/images/faq_sprite.png) 100% -147px no-repeat, url(/images/horizontal_repeat_better.png) 0px -37px repeat-x;
  background-color: #FFF;
  background-size: inherit;
  zoom: 1;
  -moz-border-radius-bottomright: 7px;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-topleft: 7px;
  border-top-left-radius: 7px;
  -webkit-border-top-left-radius: 7px;
}

.ie8 .search input {
  height: 33px;
}

.ie7 .search input {
  height: 25px;
  padding: 8px 4px 4px 10px;
  width: 96%;
}

.search-central {
  margin: 17px auto 5px;
  width: 550px;
}

.search-small {
  padding-bottom: 15px;
  padding-top: 5px;
}

.search-small input[type="text"] {
  color: #777;
}

.search-small input[type="text"]:focus {
  color: #333;
}

/*--- Auto Completion ---*/

.ui-autocomplete {
  background: #F8FAFD;
  border: none;
  width: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
}

.ui-autocomplete a {
  border-bottom: 1px solid #E7F0FA;
  padding: 10px 10px 10px 0 !important;
  cursor: pointer;
  display: block;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.ui-autocomplete a:hover,
.ui-autocomplete a.ui-state-hover {
  color: #F60;
  background: #FFF;
  border-width: 0 0 1px 0 !important;
  border-color: #D7E0EA;
  margin: 0 !important;
  text-decoration: none;
}

.ui-autocomplete .KbArticle,
.ui-autocomplete .QnaThread {
  display: block;
  padding: 0 0 0 33px;
  overflow: hidden;
  position: relative;
}

.ui-autocomplete .KbArticle:before,
.ui-autocomplete .QnaThread:before {
   content:"";
   position: absolute;
   left: 0;
   top: 0;
   width:26px;
   height:26px;
   background: url(/images/faq_sprite.png) no-repeat -5px -42px;
}

.ui-autocomplete .article-autocomplete-subject {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.ui-autocomplete .article-autocomplete-body {
  display: block;
  font-size: 11px;
  color: #666;
}

/*--- Pagination ---*/

#paginate_block {
  border-top: 1px solid #E0E0E0;
  padding-left: 20px;
}

.pagination .current {
  font-style: normal;
}

.pagination a {
  text-transform: capitalize;
}

/*--- Topic Headers ---*/

.topic-header {
  padding: 0 180px 0 85px;
  margin-bottom: 20px;
  position: relative;
}
.topic-header:before {
  content:"";
  position: absolute;
  left: 0;
  top: -25px;
  width: 75px;
  height: 75px;
  background: transparent url(/images/cat_icons_sprite.png) no-repeat left top;
}
.topic-header.topic109406:before {
  background-position: left -960px;
}
.topic-header.topic110293:before {
  background-position: left -560px;
}
.topic-header.topic109407:before {
  background-position: left -720px;
}
.topic-header.topic109408:before {
  background-position: left -800px;
}
.topic-header.topic39593:before {
  background-position: left -240px;
}
.topic-header.topic110294:before {
  background-position: left -640px;
}
.topic-header.topic110295:before {
  background-position: left -400px;
}
.topic-header.topic110296:before {
  background-position: left -160px;
}
.topic-header.topic110297:before {
  background-position: left -320px;
}
.topic-header.topic112344:before {
  background-position: left -1040px;
}
.topic-header.topic137879:before {
  background-position: left -1120px;
}

.topic-large {
  padding-left: 95px;
}
.topic-large:before {
  left: -20px;
  top: -10px;
  width: 110px;
  height: 110px;
  background: transparent url(/images/cat_icons_big_sprite.png) no-repeat left top;
}
.topic-large.topic109406:before {
  background-position: left -1330px;
}
.topic-large.topic110293:before {
  background-position: left -770px;
}
.topic-large.topic109407:before {
  background-position: left -1000px;
  top: -15px;
}
.topic-large.topic109408:before {
  background-position: left -1110px;
}
.topic-large.topic39593:before {
  background-position: left -330px;
  top: -20px;
}
.topic-large.topic110294:before {
  background-position: left -890px;
}
.topic-large.topic110295:before {
  background-position: left -550px;
}
.topic-large.topic110296:before {
  background-position: left -220px;
}
.topic-large.topic110297:before {
  background-position: 10px -450px;
  height: 100px;
}
.topic-large.topic112344:before {
  background-position: 6px -1436px;
}
.topic-large.topic137879:before {
  background-position: left -1540px;
}

.topic-header h1 {
  color: #333;
}

.topic-header p {
  font-size: 15px;
}

/*--- Topic Boxes ---*/

.topic-boxes {
  background-color: #FFF;
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
}

.topic-boxes > li {
  border-color: #f3f8fc;
  cursor: pointer;
  position: relative;
}
.topic-boxes > li:before {
  content:"";
  position: absolute;
  left: 0;
  top: 10px;
  width: 75px;
  height: 75px;
  background: transparent url(/images/cat_icons_sprite.png) no-repeat left top;
}
.topic-boxes > li.topic109406:before {
  background-position: left -960px;
}
.topic-boxes > li.topic110293:before {
  background-position: left -560px;
}
.topic-boxes > li.topic109407:before {
  background-position: left -720px;
}
.topic-boxes > li.topic109408:before {
  background-position: left -800px;
}
.topic-boxes > li.topic39593:before {
  background-position: left -240px;
}
.topic-boxes > li.topic110294:before {
  background-position: left -640px;
}
.topic-boxes > li.topic110295:before {
  background-position: left -400px;
}
.topic-boxes > li.topic110296:before {
  background-position: left -160px;
}
.topic-boxes > li.topic110297:before {
  background-position: left -320px;
}
.topic-boxes > li.topic112344:before {
  background-position: left -1040px;
}
.topic-boxes > li.topic137879:before {
  background-position: left -1120px;
}

.topic-boxes li:hover {
  background-color: #fafcfe;
}

.topic-boxes li:hover a {
  color: #F60;
}

.tb-h {
  margin-bottom: 4px;
}

.tb p {
  font-size: 11px;
}

/*--- Outbound Boxes ---*/

.outbound-boxes > li {
  -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
          border-radius: 7px;
  background-color: #f0f5fb;
  position: relative;
}
.outbound-boxes > li:before {
  content: '';
  position: absolute;
  left: 10px;
  top: 30px;
  width: 80px;
  height: 80px;
  background: transparent url(/images/bucket_icons_sprite.png) no-repeat left top;
}
.outbound-boxes > li.status:before {
  background-position: left -80px;
}
.outbound-boxes > li.developer:before {
  background-position: left -160px;
}

.ob-h a {
  color: #000;
}

.outbound-boxes-linear > li {
  background-color: transparent;
  border-color: #E0E0E0;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.outbound-boxes-linear > li:before {
  background: none;
}

/*--- Article as list item ---*/

li.article {
  border-top: 1px solid #E0E0E0;
  padding: 15px 0 15px 22px;
  position: relative;
}

li.article:first-child {
  border: none;
  padding-top: 0;
}

li.article:before {
   content:"";
   position: absolute;
   left: 0;
   top: 20px;
   width:20px;
   height:20px;
   background: url(/images/faq_sprite.png) no-repeat -15px -45px;
}

li.article:first-child:before {
  top: 0;
}

li.article .permalink {
  text-align: right;
  margin: 20px 0 0;
}

li.article .permalink a {
  color: #777;
  font-size: 11px;
}

li.article .permalink a:hover,
li.article .permalink a:focus {
  text-decoration: underline;
}

/*--- Article as page ---*/

.article-full h1 {
  color: #000;
  font-size: 24px;
  margin-bottom: 15px;
}

/*--- Email preview ---*/

.message-group {
  margin-bottom: 15px;
}

.message-group .label {
  display: block;
}

.message-group .field {
  background-color: #EEE;
  display: block;
  padding: 3px 5px;
  margin: 0;
  white-space: pre-wrap;
}

/*--- Link back to topic in sidebar ---*/

.linkback {
  font-size: 13px;
  padding: 0 0 20px 35px;
  margin-bottom: 20px;
  position: relative;
}

.linkback:before {
  content: '';
  position: absolute;
  left: -5px;
  top: 0;
  width: 40px;
  height: 40px;
  background: transparent url(/images/cat_icons_small_sprite.png) no-repeat left top;
}
.linkback.topic109406:before {
  background-position: left -480px;
}
.linkback.topic110293:before {
  background-position: left -280px;
}
.linkback.topic109407:before {
  background-position: left -360px;
}
.linkback.topic109408:before {
  background-position: left -400px;
}
.linkback.topic39593:before {
  background-position: left -120px;
}
.linkback.topic110294:before {
  background-position: left -320px;
}
.linkback.topic110295:before {
  background-position: left -200px;
}
.linkback.topic110296:before {
  background-position: left -80px;
}
.linkback.topic110297:before {
  background-position: left -160px;
}
.linkback.topic112344:before {
  background-position: left -520px;
}
.linkback.topic137879:before {
  background-position: left -560px;
}

/*--- Modals Screen pre Email---*/

#modal-screen {
  background: #000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.ie7 #modal-screen,
.ie8 #modal-screen {
  filter:alpha(opacity=70);
}

#modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
}

#modal .ui-autocomplete {
  margin: 0 20px 10px;
  position: static;
  width: auto;
}

#modal .inner {
  background: rgba(0,0,0,0.4);
  width: 700px;
  left: 50%;
  top: 50%;
  margin: -280px 0 0 -350px;
  position: absolute;
  padding: 5px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

#modal .inner h1 {
  text-align: center;
  margin-bottom: -5px;
  padding: 25px 0 0;
}

#modal .inner p.subheader {
  font-size: 18px !important;
  color: #767676 !important;
  text-align: center;
  margin: 4px 0 30px 0;
}

#modal .inner .input-button {
  text-align: center;
  padding: 0 0 30px;
  font-size: 12px;
  font-weight: bold;
}

#modal .inner .input-button input {
  margin: 0 10px;
}

#modal .inner .note {
  text-align: center;
  color: #616161;
  margin: 0 0 20px 0 !important;
  font-size: 15px;
  font-style: italic;
}

#modal .main {
  background: #FFF;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
