<link href="http://a1.sndcdn.com/stylesheets/general.css?6485e1c" rel="stylesheet" type="text/css" />
<link href="http://a1.sndcdn.com/stylesheets/special.css?6485e1c" rel="stylesheet" type="text/css" />

<!--[if IE 7 ]><div class="page ie7"><![endif]-->
<!--[if IE 8 ]><div class="page ie8"><![endif]-->
<!--[if IE 9 ]><div class="page ie9"><![endif]-->
<!--[if !(IE) ]><!--><div class="page"><!--<![endif]-->
  <div id="header">
      <div id="header-top">
        <div id="user-status">
          <a href="http://soundcloud.com/" id="logo">Soundcloud</a>
          <div class="logged-in"><abbr title="It's Swedish for 'Hi'">Hej,</abbr> <span id="logged-in-user"><a href="http://soundcloud.com/undefined" class="current-user" id="current-user-head">stranger</a> <a class="premium plan-undefined" href="http://soundcloud.com/premium?ref=t027" id="current-plan-badge"></a></span> |

          <script type="text/javascript">
            window.SC = {"bufferTracks":[],"bufferComments":[],"cookieDomain":"soundcloud.com","assetPath":"a1.sndcdn.com","assetPathSSL":"soundcloud.com","facebook":{"appId":19507961798,"appKey":"61261ce0407b2ccb568641b513098e18","xdReceiver":"/connect/xd_receiver.htm"},"songkickApiKey":"ZWsLr2h7FF5sHG54","gaID":"UA-2519404-1"};
          </script>
          <script type="text/javascript">
            //<![CDATA[
              window.SC.renderLoginStatus = function() {
                var $p = document.getElementById('current-plan-badge')
                  , $h = document.getElementById('current-user-head')
                  , $u = document.getElementById('logged-in-user')
                  , $ht = document.getElementsByTagName('html')[0]
                  , $b = document.getElementsByTagName('body')[0]
                  , w = $b.getAttribute('data-sc-owner')
                  , c = document.cookie.split(';')
                  , u = {}
                  , o = {};

                for(var i = 0; i < c.length; i++) {
                  var pair = c[i].split('=');
                  o[pair[0].replace(/^\s/, '')] = decodeURIComponent(pair[1]).replace(/\+/g, ' ');
                }

                if($h) {
                  $h.innerHTML = o['u'] || 'stranger';
                  $h.href = 'http://soundcloud.com/' + o['p'];
                }

                if($ht) {
                  $ht.className = $ht.className.replace(/ ?(anonymous|logged-in)/g, '');
                  $ht.className += o['p'] ? ' logged-in' : ' anonymous';
                }

                u.authenticityToken = o['k'];
                u.avatarTiny = o['a'];
                u.username = o['u'];
                u.permalink = o['p'];
                u.plan = o['l'];
                u.planName = o['c'];
                u.tracks_count = o['r'];

                if(o['t']) {
                  u.types = o['t'].split('&');
                } else {
                  u.types = [];
                }

                u.quota = {};
                u.quota.playlists = o['qp'];
                u.quota.sharings_per_track = o['qs'];
                u.quota.contributions_per_track = o['qc'];
                u.quota.contact_groupings = o['qn'];
                u.quota.groups = o['qg'];
                u.quota.support = o['qt'];

                if(o['c'] === 'free') {
                  if($u) { $u.className = 'free-user'; }
                  if($p) { $p.className += ' hidden'; }
                } else {
                  if($p) { $p.className += ' plan-' + o['c']; }
                }

                if($b && w && (w === u.permalink)) {
                  $b.className += ' current-user';
                }

                window.SC.currentUser = u;
              };

              window.SC.renderSupportLevel = function() {
                var support = 'Support';

                if (SC.currentUser.quota.support === 'premium') {
                  support = 'Premium Support';
                } else if (SC.currentUser.quota.support === 'pro') {
                  support = 'Pro Support';
                }
                document.getElementById('footer-support-link').innerHTML = support;
              };

              window.SC.renderLoginStatus();
            //]]>
          </script>

          <a href="http://soundcloud.com/logout" class="header-logout">Log out</a> |
          <a href="http://soundcloud.com/tour">Take the tour</a> |
          <a href="http://soundcloud.com/101">SoundCloud 101</a>
          <div class="hidden" id="user-id">Kuedo</div>
        </div>
        <div class="anonymous">
          <a href="http://soundcloud.com/login?ref=top" class="sign-in" id="login-link">Log In</a> |
          <a href="http://soundcloud.com/signup?ref=top" class="sign-in" id="signup-link">Sign Up</a> |
          <a href="http://soundcloud.com/tour">Take the tour</a> |
          <a href="http://soundcloud.com/101">SoundCloud 101</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h1>Please pay</h1>

    <% adyen_form_tag do %>
      <%= adyen_payment_fields %>
    <% end %>
  </div>

  <div class="footer-wrapper">
    <div id="footer">
      <div id="logo-footer"></div>
      <p id="copyright">
        © 2007-2012 SoundCloud Ltd. All rights reserved.
        <a href="http://soundcloud.com/community-guidelines">Community Guidelines</a> |
        <a href="http://soundcloud.com/terms-of-use">Terms of Use</a> |
        <a href="http://soundcloud.com/pages/privacy">Privacy Policy</a> |
        <a href="http://soundcloud.com/pages/copyright">Copyright Information</a> |
        <a href="http://soundcloud.com/imprint">Imprint</a>
      </p>
    </div>
  </div>
</div>
