html {
	height: 100%;
	max-height: 100%;
	font-size: 0.75em;
	font-family: tahoma, verdana, arial, sans-serif;
}

body {
	background-color: #fff;
	background-image: url("../img/bg.gif");
	color: #333;
}

/* Main Elements */
#logoheader {
	height: 90px;
	background: url("../img/banner_top.png");
	background-position: 0px 52px;
	background-repeat: repeat-x;
	background-color: #508ec8;
}


#content {
	background-color: white;
	padding: 5px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin-left: 50px;
	margin-right: 50px;
}

#pmcontent {
	border: 1px solid #eee;
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 6px 12px;
}

#foot {
	background-color: white;
	padding: 5px;
	padding-top: 0px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-left: 50px;
	margin-right: 50px;
}

#footc {
	border: 1px solid #eee;
	margin-bottom: 0px;
	padding: 0px 0px;
	height: 68px;
}

.paddiv1, .paddiv2 {
	height: 0px;
}

#nextstep {
	font-weight: bold;
	height: 22px;
	color: #fff;
	font-size: 1.1em;
}

#nextstepc {
	text-align: center;
	padding-top: 4px;
	padding-bottom: 2px;
	background-color: #999;
}

.popupMsg {
	display: none;
	border: 1px solid #666;
	background-color: #eee;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 6px;
}

.popupMsgOPP {
	position: relative; 
	top: -155px; 
	margin-left: 0px;
	z-index: 10;
}

/* Common HTML Elements in #content */

#content p,#content ul,#content pre {
	padding: 5px;
}

#content h2 {
	color: #367EA6;
	padding-top: 6px;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.8em;
}

#content h3 {
	margin-left: 5px;
	font-size: 1.3em;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#content pre {
	font-family: courier, monospace;
	font-size: 1em;
}

.pmmdetails {
	padding-left: 80px;
}

.fieldSubHeader {
	font-weight:bold;
	margin-bottom:0.5em;
	margin-top:0.5em;
}

/* Table */
table.basetable {
	margin-left: 5px;
}

table.basetable td {
	padding-bottom: 0.6em;
	padding-right: 0.6em;
}

/* Order Data Layout */
table.od {
	margin: 10px 0px 10px 0px;
}

table.od td, table.od th  {
	padding: 5px;
	border: 1px solid #999;
}

table.od th {
	font-weight: bold;;
}

/* Image Buttons (Payment Methods) */

.imgB, .footerB {
	width: 158px;
	height: 32px;
	padding: 0;
	border: 0;
	background: transparent url("../img/bg_buttons.png") no-repeat left 0px;
	overflow: hidden;
	color: #444;
	cursor: pointer; /* hand-shaped cursor */
	cursor: hand; /* for IE 5.x */
	font-weight: bold;
	font-size: 1.2em;
}

.imgB:hover, .imgB:active, .footerB:hover, .footerB:active {
	color: #66f;
}

.pmB {
	width: 238px;
	height: 42px;
	padding-left: 85px;
	text-align: left;
	margin-bottom: 6px;
	font-size: 1.1em;
	background-color: transparent !important;
}

/* Image Buttons Footer (next/previous/pay) */

#footerb1div {
	float: left;
	text-align: left;
	margin: 8px 0px 0px 30px;
}

#footerb2div {
	float: right;
	text-align: right;
	margin: 8px 30px 0px 0px;
}

.cancelB {
	background-position: left 0px;
}

.nextB {
	background-position: right -32px;
}

.backB {
	background-position: left -96px;
}

.finishB {
	background-position: right -64px;
}

/* Links */

a {
	text-decoration: none;
	color: #39f
}

a:visited {
	text-decoration: none;
	color: #39f
}

/* Form elements */

input,select {
	font-size: 0.95em;
	padding: 1px;
	border: 1px solid #C3C3C3;
	border-top-color: #7C7C7C;
	border-bottom-color: #DDD;
}

button:focus {
	outline: none;
}

/* Validation */

table.basetable .inputField {
	padding: 1px 2px 2px 2px;
	background-color: #EAF5FA;
}

table.basetable .errorField {
	border: 2px solid #f33;
	background-color: #fff3f3;
	padding: 1px 1px 1px 1px;
}

.fieldDiv {
	padding-right: 20px;
	background: transparent;
}

.errorDiv {
	background: transparent url("/hpp/img/icons/error.png") no-repeat right 3px;
	padding-right: 20px;
}

.errorFrame {
	background-color: #fff3f3;
}

.pmOc {
	margin-bottom: 10px;
}

.pmOc div.pmOcDetail {
	background-color: #E0E6FF;
	border: 1px solid #CCCCFF;
	padding: 6px;
	display: block;
	margin-right: 8px;
	margin-bottom: 8px;
	float: left;
	width: 168px;
}

.pmOc div.pmOcPad {
	height: 1px;
	display: block;
	clear: both;
}

.pmOcRemove {
	float: left;
	margin-left: 10px;
}

.pmOcInput {
	background-color: #fff;
}

.pmOcRadio {
	float: left;
}

.pmOcDetailSummary {

	height: 97px; /*101px;*/
	width: 160px;
	color: white;
	clear:both;
	font-family:monospace;
	font-size: 11px;
	font-weight:bold;
	line-height:1.3;
	padding-top: 10px;
	margin:4px 0 0 4px;
}


.pmOcDetailSummaryCard {
	background-image: url(/hpp/img/card_generic.png);
	background-repeat: no-repeat;
}
.pmOcDetailSummaryElv {
	background-image: url(/hpp/img/elv_generic.png);
	background-repeat: no-repeat;
}

.pmOcLogo {
	height:22px;
	width:40px;
	background-color: white;
	margin: 0px 0px 11px 110px;
}
.pmOcElv {
	color: #888;
	margin-bottom: 19px;
	height:15px;
	margin-left: 10px;
	letter-spacing: 3px;
}
.pmOcPan {
	height:15px;
	padding-top: 9px;
	margin-left: 14px;
}
.pmOcExp {
	height:15px;
	font-size: 10px;
	margin-left: 105px;
}
.pmOcName {
	height:15px;
	margin-left: 14px;
	text-transform: uppercase;
}

.pmOcArrow {
	margin-left: 65px;
	height: 20px;
	background-repeat: no-repeat;
	background-image: url(/hpp/img/arrow_down.png);
}

div.pmOcDetail .fieldDiv, div.pmOcDetail .errorDiv {
	display: inline;
}

div.pmOcDetail input {
	background-color: white;
}

div.pmOcPay {
	text-align: right;
}


/* ivr specific css */

.ivricon {
        display: block;
        margin-right: 10px;
        float: left;
}
.ivrmessage {
        display: block;
        font-weight: bold;
}
.ivrdetail {
        display: block;
        margin-top: 5px;
        font-weight: bold;
        font-family: arial, sans-serif;
}


#phoneNumber .ivrdetail {
        color: #57A022;
        font-size: 2.4em;
}

#payCode .ivrdetail {
        color: #1F5F98;
        font-size: 2.4em;
}
#timeToCall .ivrmessage {
        font-weight: normal;
        line-height: 1.1em;
}

#timeToCall .ivrmessage .phoneDetails, #timeLeft {
        font-weight: bold;
        color:  #57A022;
        font-family: arial, sans-serif;
}


.progressW {
        width: 400px; 
        margin-left: 50px; 
        padding: 1px;
        border: 1px solid #666;
        background-color: transparent
}
.progress {
        width: 0px;
        font-size: 1px;
        height: 14px;
        margin: 0px;
        padding:0px;
        background-color: #66C931;
        background-image: url(/hpp/img/progress3.png);
        background-repeat: repeat-x;
}

.ebanking_FIFrame {
	width: 300px;
	float: right;
}

.ebanking_FIHeader {
    font-weight:    bold;
    margin-bottom:  5px;
    margin-top:     5px;
    color:          #1678A5;
}

.ebanking_FIText {
    padding:        5px;
}

.invoicestat {
    width: 55%;
    border: 2px solid black;
    font-family: courier, monospace;
    padding: 17px 10px 17px 61px;
}

.invoicestatPaid      { border-color: green; background-color: #efe; }  
.invoicestatUnPaid    { border-color: orange; background-color: #fff5ee; } 
.invoicestatCannotPay { border-color: red; background-color: #fee; } 


.airlinedatalabel, .airlinelegdatalabel{
    float:left;
    clear:left;
    padding-top:7px;
    font-weight:bold;

}

.airlinedataelement, .airlinelegdataelement{
    float:right;
    padding-top:7px;
}


.airlinedata{
	float:left;
	width:800px;
	height:100px;
	border:solid 2px #367EA6;
	padding:10px;
	margin:10px;
	clear:both;
	position:relative;
}

.airlinelegdata{
	float:left;
	width:800px;
	border:solid 2px #367EA6;
	padding:10px; 
	margin:10px;
	clear:both;
	position:relative;
	height:120px;
}

.airlinedatatitle{
	background: #367EA6;
    color: white;
    font-size: 20px;
    margin: -10px;
    padding: 6px;
}

.airlinelegdatatitle{
	background: #367EA6;
    color: white;
    font-size: 20px;
    margin: -10px;
    padding: 5px;
    left:640px;
    position:absolute;
    
}

.endairlinelegdata{
	clear:both;
}



.labeldepartairport{
	background: #367EA6;
    color: white;
    font-size: 13px;
    left: 10px;
    position: absolute;
    top: 0px;
    padding: 5px;
}

.elementdepartairport{
	background: #367EA6;
    color: white;
    font-size: 13px;
    left: 200px;
    position: absolute;
    top: 0px;
    padding: 5px;
}

.labeldestinationcode{
	background: #367EA6;
    color: white;
    font-size: 13px;
    left: 10px;
    position: absolute;
    top: 20px;
    padding: 5px;
}

.elementdestinationcode{
	background: #367EA6;
    color: white;
    left: 200px;
    font-size: 13px;
    position: absolute;
    top: 20px;
    padding: 5px;
}

.airlinelegdataheader{
	background: #367EA6;
	height: 50px;
    left: 0;
    position: absolute;
    width: 820px;
    top: 0;
}

.labelflightnumber{
	position: absolute;
	top:50px;
	left:10px;
}
.elementflightnumber{
	position: absolute;
	top:50px;
	left:110px;
}
.labelcarriercode{
	position: absolute;
	top:50px;
	left:350px;
}
.elementcarriercode{
	position: absolute;
	top:50px;
	left:450px;
}
.labelfarebasecode{
	display:none;
}
.elementfarebasecode{
	display:none;
}
.labelclassoftravel{
	position: absolute;
	top:75px;
	left:10px;
}
.elementclassoftravel{
	position: absolute;
	top:75px;
	left:110px;
}
.labelstopovercode{
	display:none;
}
.elementstopovercode{
	display:none;
}
.labeldateoftravel{
	position: absolute;
	top:100px;
	left:10px;
}
.elementdateoftravel{
	position: absolute;
	top:100px;
	left:110px;
}
.labeldeparttax{
	display:none;
}
.elementdeparttax{
	display:none;
}


#labelairlinepassengername{
	position:absolute;
	left:10px;
	top:30px;
}
#airlinepassengername{
	position:absolute;
	left:150px;
	top:30px;
}
#labelairlinecustomerreferencenumber{
	position:absolute;
	left:300px;
	top:30px;
}
#airlinecustomerreferencenumber{
	position:absolute;
	left:500px;
	top:30px;
}
#labelairlineticketissueaddress{
	position:absolute;
	left:10px;
	top:55px;
}
#airlineticketissueaddress{
	position:absolute;
	left:150px;
	top:55px;
}
#labelairlineticketnumber{
	position:absolute;
	left:300px;
	top:55px;
}
#airlineticketnumber{
	position:absolute;
	left:500px;
	top:55px;
}
#labelairlinetravelagencycode{
	display:none;
}
#airlinetravelagencycode{
	display:none;
}
#labelairlinetravelagencyname{
	position:absolute;
	left:10px;
	top:80px;
}
#airlinetravelagencyname{
	position:absolute;
	left:150px;
	top:80px;
}
#labelairlineagencyplanname{
	display:none;
}
#airlineagencyplanname{
	display:none;
}
#labelairlineagencyinvoicenumber{
	display:none;
}
#airlineagencyinvoicenumber{
	display:none;
}
.receiptNoPrint {
	display: none;
}
.receiptPrint {
	display: none;
}
