<!-- ### -->

<form id="pageform" action="#" method="post" autocomplete="off" onsubmit="return formValidate(this, 'default');">

  <div id="content">

    <!-- ### inc/pmheader<%= @locale_suffix %> -->

    <%= adyen_payment_fields(&block) %>

    <!-- ### -->

  </div>

  <div id="foot">
    <div id="footc">
      <div id="nextstep">
        <div id="nextstepc">Next Step: Enter your Payment Details</div>
      </div>

      <div id="footerb2div">
        <input name="next" id="mainSubmit" value="continue" type="submit" class="hideforprint footerB nextB" />
      </div>

      <div id="footerb1div">
        <input onclick="this.blur(); prepareForBack();" name="back" id="mainBack" value="previous" type="submit" class="hideforprint footerB backB" />
      </div>
    </div>
  </div>
</form>

<!-- ### inc/cfooter<%= @locale_suffix %> -->