<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Adyen Skinbuilder</title>
  </head>
  <body>
    <h1>Skins</h1>


    Found following skins in <i><%= skin_path %></i>

    <ul>
      <% skins.each do |skin_code| %>
        <li><a href="/<%= skin_code %>"><%= skin_code %></a></li>
      <% end %>
    </ul>

  </body>
</html>
