<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Adyen Skinbuilder</title>
  </head>
  <body>
    <h1>Adyen Skins</h1>

    Choose from following skins in <i><%= skin_path %></i>

    <ul>
      <% skins.each do |skin_code| %>
        <li><a href="/<%= skin_code %>"><%= skin_code %></a></li>
      <% end %>
    </ul>

  </body>
</html>
